<% include partials/header %>
    
            <main role="main">
    
                <div class="jumbotron">
                  <div class="container">
                    <h1 class="display-5"><center>Delete snippet !</center></h1>
                  </div>
                </div>
          
                </div> 
                        <center><div class="container" id="delete-page">
                                <h1>Are you sure you want to delete your code snippet?</h1>
                                <form action="/delete_snippet/<%= _id %>" method="POST">
                                  <button class="btn btn-danger navbar-btn" type="submit">Yes, delete</button>
                                </form>
                                <button class="btn btn-success" onclick="window.location.href='/all_snippets'">Sorry, don't delete</button>
                              </div></center>
                      
              </main>
              
              <% include partials/footer %>
    